<!DOCTYPE html>
<htmk lang = 'en'>
	<head>
		<title>Kickball Teams</title>
	</head>

	<body>
		<h2>KICKBALL TEAMS</h2>

		<ul>
			<% @teams.each do |team_name, team_link| %>
			<li><a href = '/teams/<%= team_link %>'><%= team_name %></a></li>
			<% end %>
		</ul>

		<h2>Players by Position</h2>

		<ul>
			<% @positions.each do |position| %>
			<li><a href = '/positions/<%= position %>'><%= position %></a></li>
			<% end %>

		</ul>

	</body>

	</html>
