<!DOCTYPE html>
<htmk lang = 'en'>
	<head>
		<title>Soccer Teams</title>
	</head>

	<body>
		<h1>KICKBALL TEAMS</h1>

		<ul>
			<% @teams.each do |team_name, team_link| %>
			<li><a href = '<%= team_link %>'><%= team_name %></a></li>
			<% end %>
		</ul>
































































































































































































































































































































































	</body>

	</html>
