<!DOCTYPE html>
<head><title>Players by Position</title></head>

<body>	
	<h1>Players by Position</h1>

<ul>
		<h3>Position: <%= @link %></h3>
	<ul>
		<% @teams.each do |team, position| %>
			<% if position.values_at(@link) != nil %>
				<li><%= position[@link]%> plays for <%= team %></li>
			<% end %>
		<% end %>

</ul>

<a href = '/'><h4>Back</h4></a>

</body>



